
/build
/src/Experiment/Level1/bin/
/src/Experiment/Level1/obj/
/src/Experiment/TestWebApp/bin/
/src/Experiment/TestWebApp/obj/


# Standard VS.NET and ReSharper Foo
src/*/obj
src/*/bin
*.csproj.user
_ReSharper*
*.ReSharper
*.user
*.suo
*.cache
* Thumbs.db
*.csproj.ReSharper

*.orig
